{% extends "admin/index.html" %}
{% load i18n admin_urls %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans "Basic Email" %}
</div>
{% endblock %}

{% block content_title %} <h1>{% trans "Basic Email" %}</h1> {% endblock %}

{% block content %}
    <div id="content-main">
        <ul>
            {% for f in files %}
                <li>
                    <a href="{% url 'preview-email-template' %}?template={{f}}" target="_blank">preview {{f}} ({% trans "new tab" %})</a>
                    <a href="{% url 'list-email-template-variables' %}?template={{f}}">
                        {% trans "(list all template variables)" %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}