{% extends "emails/base.html" %}
{% load get_site i18n assign replace pages_tags %}
{% get_site as site %}

{% block content %}
    {% assign name="activation_link" %}http://{{site.domain}}{% url 'activation' token|default:"fake" %}{% endassign %}
    {% assign name="notifications_link" %}#{% endassign %}

    {% get_content "email-account_email_changed" "Body" as content %}
    {% replace search="{LINK}" replacement=activation_link %}{% replace search="{UNSUBSCRIBE}" replacement=notifications_link %}{{ content|safe }}{% endreplace %}{% endreplace %}

{% endblock %}